@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-in {
  animation: fadeInUp 0.5s ease-out forwards;
}

.bg-gray-50 {
  background-color: #F9FAFB; /* This is the hex code for the gray-50 color in Tailwind CSS */
}
html, body {
  font-family: var(--font-poppins), sans-serif;
}